html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box {
  display: flex;
  padding: 3%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 100px;
  line-height: 0.95;
}

.label {
  font-size: 20px;
  font-weight: 600;
  color: #efa;
}
